In [1]:
import pandas as pd
from cleaningScript import cleanData # 1 <3 encapsulation

In [2]:
route, direction = '84', 1

In [3]:
df = cleanData(route, direction)

In [4]:
df

,date,tripid,progrnumber,stopActualArr,journeytime,dwelltime,rain,temp,humidity,pressure
0,2018-01-01,5955785,1,36583,0,0,0.0,5.6,79,992.9
1,2018-01-01,5955785,2,36617,34,12,0.0,5.6,79,992.9
2,2018-01-01,5955785,3,36721,138,0,0.0,5.6,79,992.9
3,2018-01-01,5955785,4,36782,199,8,0.0,5.6,79,992.9
4,2018-01-01,5955785,5,36819,236,0,0.0,5.6,79,992.9
...,...,...,...,...,...,...,...,...,...,...
366351,2018-10-27,8048174,83,83849,4681,0,0.0,2.6,78,1026.1
366352,2018-10-27,8048174,84,83897,4729,0,0.0,2.6,78,1026.1
366353,2018-10-27,8048174,85,83944,4776,0,0.0,2.6,78,1026.1
366354,2018-10-27,8048174,86,83955,4787,0,0.0,2.6,78,1026.1
366355,2018-10-27,8048174,87,84022,4854,0,0.0,2.6,78,1026.1