In [1]:
import pandas as pd
from cleaningScript import cleanData # 1 <3 encapsulation

In [8]:
route, direction = '84', 1

In [9]:
df = cleanData(route, direction)

In [10]:
df

,date,tripid,progrnumber,stopActualArr,journeytime,dwelltime,rain,temp,humidity,pressure
0,2018-01-01,5955476,7,32797,427,59,0.0,4.5,83,992.4
1,2018-01-01,5955476,8,32934,564,43,0.0,4.5,83,992.4
2,2018-01-01,5955476,28,33767,1397,0,0.0,4.5,83,992.4
3,2018-01-01,5955476,9,33021,651,0,0.0,4.5,83,992.4
4,2018-01-01,5955476,16,33304,934,0,0.0,4.5,83,992.4
...,...,...,...,...,...,...,...,...,...,...
1623227,2018-09-16,8098409,39,82706,2332,14,0.0,10.5,90,1014.3
1623228,2018-09-16,8098409,3,80521,147,15,0.0,10.5,90,1014.3
1623229,2018-09-16,8098409,70,84158,3784,0,0.0,10.0,91,1014.2
1623230,2018-09-16,8098409,6,80720,346,15,0.0,10.5,90,1014.3
1623231,2018-09-16,8098409,41,82815,2441,0,0.0,10.0,91,1014.2